:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background: linear-gradient(#2600ff, #ec1f55);
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.dashboard {
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 16px 16px 14px;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 14px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    background-image: url(./img/1cogai.jpg);
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    margin: auto;
    border-radius: 50%;
}

.control {
    display: flex;
    justify-content: space-around;
    padding: 18px 0 8px 0;
    align-items: center;
}

.control .btn {
    color: #666;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
}

.btn.btn-toggle-play {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    padding: 14px 18px;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
  
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.volume {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.volume i {
    margin-right: 8px;
}

.playlist {
    padding: 12px;
    width: 100%;
    margin-top: 408px;
}

.song .thumb {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.option i {
    padding: 10px;
}

.song:active {
    opacity: 0.7;
}

.song.active {
    background-color: var(--primary-color);
}

.song.active .title,
.song.active .author,
.song.active .option
{
    color: #fff;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: block;
}
  
.player.playing .icon-play {
    display: none;
}

.btn-random.active,
.btn-repeat.active
{
    color: var(--primary-color);
}

.song {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 12px;
    background-color: #c5cff7;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 14px;
    color: #999;
}

.song .option {
    padding: 6px 8px;
    color: #999;
    font-size: 18px;
    margin-left: auto;
}

